snippet signature "Signature"
S. Hyeon

- me@nullstellensatz.org
- https://github.com/loudcolour
endsnippet

snippet email "Email" i
me@nullstellensatz.org
endsnippet

snippet date "Date" i
`date +%F`
endsnippet

snippet time "Time" i
`date +%T`
endsnippet

snippet dt "Date and Time" i
`date +"%F %T %z"`
endsnippet

snippet uts "Unix Timestamp" i
`date +%s`
endsnippet

snippet box "Box"
`!p snip.rv = '┌'+'─'*(len(t[1])+2)+'┐'`
│ $1 │
`!p snip.rv = '└'+'─'*(len(t[1])+2)+'┘'`
$0
endsnippet

